<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Situn calling her sis</h1>
        <h1>Ringing.......</h1>
        <h1>Lifted the call</h1>
        <h1>Hello kn karuchu?</h1>

        <a href="{% url 'sila' %}"><h3>Sis received the call</h3></a>
        <a href="{% url 'situn2' %}"><h3>Back 2 Situn</h3></a>

    </center>
</body>
</html>